:root{
    --amarelo: #F58C14;
    --roxo: #1A1423;
    --vermelho: #E0002D;
    --vermelho-escuro: #A20021;
    --branco: #F5F5F4;
}

body{
    background-color: var(--branco);
}

/*Classes decorativas*/

.max-tam{
    width: 980px;
    margin: auto;
}

[class *= "caixa"]{
    padding: 40px;
    color: var(--branco);
}

.caixavermelha{
    background-color: var(--vermelho-escuro);
}

.caixaroxa{
    background-color: var(--roxo);
}